@font-face{
	font-family: 'letra';
	src:url(../letra/Congratulations_DEMO.ttf);
}
h1{
	margin-left: 110px;
	font-size: 60px;
	font-family: 'letra'
}
body{
	background-color: #1362A5;
}

.bloque{
	margin-left: 60px;
	width: 250px;
	border:5px solid black;
}